  body {
  margin: 0;
  background-color: #eeeeee;
  background : url('https://wallpaperaccess.com/full/672238.jpg') ;
}

.videos {
  height: 200px;
  width: 50px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 12px;
  background-color: white ;
} 

.navbar_meet{
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

  .join__screen {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  background-color: white;
  /* background: url(https://wallpaperaccess.com/full/672238.jpg) !important; */
  align-items: center;
  justify-content: center;
  text-align: center;
}  

.messenger {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:  white ;
}

.menu {
  z-index: 2;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 5.4%;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.bottom {
  position: absolute;
  bottom: 5.4%;
}